.event-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .event-heading {
    text-align: center;
  }
  
  .event-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    align-items: center;
  }
  
  .event-image {
    max-width: 200px;
    margin-right: 100px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
  }
  
  .form-group input,
  .form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .button-group {
    margin-top: 20px;
    text-align: center;
  }
  
  .button-group button {
    padding: 10px 20px;
    margin-right: 10px;
    background-color:green;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button-group button:last-child {
    background-color: #dc3545;
  }
  
  .button-group button:hover {
    background-color:darkgreen;
  }
  
  .button-group button:last-child:hover {
    background-color: #c82333;
  }
  